body {
  background-color: #00121b;
  color: white;
}

/* $kksk2C1: #019ef2;
$kksk2C2: #f37741; */
  
.Timer {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #00090d;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.Timer .value {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  font-size: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5bc5fe;
  z-index: 999;
  text-shadow: 0 0 1vw #5bc5fe;
}

.Timer.IDLE .value, 
.Timer.PAUSE .value {
  color: #939393;
  text-shadow: 0 0 1vw #939393;
}

.Timer.END .value {
  color: #f37741;
  text-shadow: 0 0 1vw #f37741;   
}

.Timer .grids {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1vw;
  padding: 1vw;
}

.Timer .grids .Grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 1vw;
}

.Timer .grids .Grid span {
  background-color: #8dd7ff;
  transition: background-color ease .1s;
  opacity: 0.1;
}

.Timer .grids .Grid span.o {
  opacity: 0.4;
}

.Timer.IDLE,
.Timer.PAUSE
{
  background-color: #000;
}

.Timer.IDLE .grids .Grid span,
.Timer.PAUSE .grids .Grid span
{
  background-color: #b9b9b9;
}

.Timer.END {
  background-color: #020100;
}

.Timer.END .grids .Grid span {
  background-color: #f8ab89;
}